body{
    background-image: url(assets/yenicami.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    /* OPTIONAL */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(3px);
    width: 100vw;
    padding: 10px 0;
}
.clock{
    color: rgb(220, 200, 20);
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}